densecap/data/models/densecap/densecap-pretrained-vgg16.t7
*/*.pkl
*/*/*.pkl
thumbnails
media
samplephotos
db.sqlite3
*/__pycache__
*/*/__pycache__
__pycache__
.DS_Store
tags
api/migrations/
api/places365/model/
Conv2d.patch
Linear.patch
Sequential.patch
BatchNorm2d.patch
AvgPool2d.patch
ReLU.patch
run_docker.sh
logs/*
playground
api/im2txt/data/
api/im2txt/models/
api/im2txt/png/

# donation_pk_eth=8da4ef21b864d2cc526dbdb2a120bd2874c36c9d0a1fb7f8c63d7f7a8b41de8f